/*	======================================
	Colors
====================================	*/

$primaryColor: #ffddd7;
$secondaryColor: #333132;
$darkColor: #231f20;
$lightGrey: #e1e1e1;
$black: #1a1a1a;
$modalBG: #CAE5DD;

/*	======================================
	Fonts
====================================	*/

$serif: 'Calson', serif;
$sansMed: 'BrandonGrotesqueMedium', sans-serif;
$sansReg: 'BrandonGrotesqueRegular', sans-serif;
$sansLight: 'BrandonGrotesqueLight', sans-serif;
$sansBold: 'BrandonGrotesqueBold', sans-serif;

/*	======================================
	Measurements
====================================	*/

$margin: 1.5rem;
$padding: 1.5rem;
$contentPadding: 164px;